<ion-header>
  <ion-toolbar>
    <ion-title>Detalles</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/tabs/formulario"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines = "full">

       <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Formulario</ion-card-subtitle>
          <ion-item >
            <ion-input required type = "text" placheholder = "formulario" [(ngModel)] =  "formul.formulario">
            </ion-input>
           </ion-item>
        </ion-card-header>
      
        <ion-item >
          <ion-label>Categoria</ion-label>
          <ion-select placeholder="Seleccione uno"  (ionChange) = "onChangeSubCategoria($event)">
              <div *ngFor="let cat of categories">
                <ion-select-option  [value] = "cat">{{cat.categoria}}</ion-select-option>
              </div> 
          </ion-select>
        </ion-item>
     
      </ion-card>
  </ion-list>

  <ion-button (click) = "modificar()">
    Modificar
  </ion-button>

  <ion-fab vertical = "bottom" horizontal = "end" slot = "fixed" color = "danger">
    <ion-fab-button color = "danger" routerLink = "/admin/tabs/formulario" routerDirection = "forwad" (click) = "onRemove(formId)">
      <ion-icon name = "trash">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
