<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button color = "medium" (click) = "onLogout()">
        <ion-icon name="exit-outline"></ion-icon>  
      </ion-button>
    </ion-buttons>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor = "let f of form">
      <ion-item button [routerLink] = "['/details', f.id]">
        <ion-label>
          {{ f.formulario }}
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical = "bottom" horizontal = "end" slot="fixed">
    <ion-fab-button routerLink = "/crearformulario" routerDirection = "forward">
      <ion-icon name = "add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

